
**Introducción a Python**  by Karen Cruz in licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0?ref=chooser-v1">Attribution-NonCommercial-NoDerivatives 4.0 International</a>


<font size=4 color='royalblue'>

## Lenguaje de Programación Python.

> ### Introducción al Lenguaje de Programación Python.

<font size=4>

 En el presente notebook se abordaran los siguientes temas:

1. Características del lenguaje de programación Python.


2. Tipos de objetos Python.


3. Operaciones matemáticas, lógicas y relacionales.


4. Entrada y salida de datos.


5. Secuencias: Listas, tuplas y cadenas.


6. Diccionarios

Con los cuales se podra tener un manejo fluido con los principales objetos de python.

Con lo aprendido en este nb tendras las herramientas básicas para programar con Python.


___

<font size=4 color='royalblue'>

 # 1. Características del lenguaje de programación Python.

<font size=4 color='rosybrown'>

> **Los lenguajes de programación son lenguajes formales que se diseñaron para expresar cálculos.**

<font size=4>

Los lenguajes formales son diseñados por las personas para aplicaciones específicas, por ejemplo, la notación matemática, la notación química, etc.

Los lenguajes formales tienden a tener reglas estrictas sobre la sintaxis.


Los lenguajes de programación tienen una sintaxis particular compuesta por palabras en inglés.

<font size=4 color='rosybrown'>

> **Python es un lenguaje de programación de alto nivel.**

<font size=4>

Los lenguajes de alto nivel son aquellos que tienen que ser procesados antes de que puedan ejecutarse.

A continuación se mencionan algunas características de los lenguajes de alto nivel:

   1. Son más faciles de programar.


   2. Toma menos tiempo escribirlos.


   3. Son mas cortos y faciles de leer.


   4. Son portables (se pueden ejecutar en diferentes tipos de computadoras con pocas o ninguna modificación).


Cuando se procesa un lenguaje de alto nivel, se convierte en un lenguaje de bajo nivel, que son los lenguajes que las computadoras pueden entender y ejecutar.

<font size=4 color='rosybrown'>

> **Python es un lenguaje de programación orientado a objetos.**

<font size=4 >

 Todo en Python es un objeto. Cada objeto tiene una serie de **atributos** (que indicarán su estado) y de **métodos** (que marcarán su comportamiento).

 *NOTA: En otro notebook se verá con mas detalle su uso.*

___

<font size=4 >

**Lo que necesitas recordar:**

  * Ejecute sus celdas usando SHIFT+ENTER (o usando el botón "run cell")

___

<font size=4 color='rosybrown'>
    
> ## 1.1 La cocina
    
<font color='black'>
    
Imagina que programar es como cocinar: para poder cocinar necesitas un espacio donde están las herramientas y propiamente utensilios como ollas, sartenes, cucharas, etc.
    
En la programación es igual, necesitas una aplicación donde poder escribir tu código y posteriormente _ejecutarlo_ para ver si cumple su función o no.
    
La cocina en este caso es esta aplicación web llamada __Jupyter Notebook__. Para poder escribir código en esta aplicación debes hacer clic en el botón + que está en la parte superior, se desplegará una celda con un par de corchetes a la derecha, en esta celda puedes escribir el código que deseas ejecutar usando el botón de play que se encuentra a la derecha del botón +.
    
También es posible escribir texto como en cualquier documento, para ello en la barra de herramientas donde dice `code` al desplegar el menú y seleccionar `markdown` la celda se convierte a modo texto y todo lo que escribas ahí no se podrá ejecutar por python y puede no ser código sino texto, imagenes, listas, etc.

In [ ]:
# Esta es una celda de código

<font size=4 color='royalblue'>

# 2. Tipos de objetos Python.

<font size=4>

En Python hay diferentes tipos de objetos, a continuación se mencionan los más comunes:

In [13]:
%%HTML

<style>
td,th {
  font-size: 16px
}
</style>


    
<div class="table-container">

| Tipo de dato | Valores | Simbolo | Descripción |
|:-:|:-:|:-:|:-|
|integer/enteros    | números enteros                      | `int`   | No tienen parte decimal pueden ser naturales positivos o negativos y 0. |
|float/flotante     | números reales                       | `float` | Puede ser positivo o negativo y con punto decimal también puede ser con notación cientifica |
| string/cadenas    | secuencia de caracteres              | `str`   | Cualquier secuecia de caracteres: letras, números, simbolos, espacios, etc.|
| boolean/booleanos | verdaderos o falsos                  | `bool`  | Los únicos valores son verdadero (True) y falso (False) |
| list/lista        | secuencia mutable de objetos                 | `list`  | Una lista de objetos: enteros, flotantes, cadenas, otras listas, etc. Su longitud puede cambiar después de ser definida |
| tuple/tupla       | secuencia inmutable de objetos       | `tuple` | Una lista de objetos al igual que list pero una vez definida no es posible modificar su contenido |
| dict/diccionario  | diccionario                          | `dict`  | Un diccionario de datos donde mediante una llave se accede a algún objeto |
    
</div>

<font size=4>    
**Una *variable* (etiqueta) es un nombre que se le asigna a un objeto.**

**Para conocer el  tipo de objeto de una variable se usa la función `type( )`.**

<font size=4 color='rosybrown'>
    
> ## 2.1 ¿Qué es una variable?
    
<font color='black'>

Las computadoras necesitan un espacio donde almacenar información, a este espacio se le llama memoria y es un componente físico que tiene toda computadora.

La memoria tiene un limite de cuanta información puede contener, y toda la información que se muestra en la computadora ocupa un lugar en la memoria.

Por ejemplo, imagina el valor `5`, este valor se guarda en la memoria pero ¿como puedes usar este valor para hacer una operación en el futuro? Como el `5` es un valor pequeño es fácil de recordar y puedes escribirlo nuevamente en la computadora pero piensa en el valor de la velocidad de la luz que es `299792458` metros por segundo, ¿verdad que ya no es fácil de recordar este número?

Entonces para poder trabajar con este número se guarda en la memoria pero para poder usarlo le das una etiqueta, un nombre asociado al valor, que sea fácil de recordar, por ejemplo: `velodidadLuz`. De este modo si en el futuro deseas usar este valor en lugar de escribirlo puedes llamarlo escribiendo su nombre.

<font size=4 color='rosybrown'>
    
> ## 2.2 ¿Como crear una variable?

<font color='black'>
    
Para crear una variable se escribe el nombre que le vas a asignar en una celda de código (`Code`), el signo de igualdad $(=)$ y el valor que le darás a la variable.

<font size=4 color='cornflowerblue'>

**NOTA**

El simbolo `=` se usa para asignar un valor a una variable, no para indicar igualdad.

Para indicar que dos variables son iguales se usa el símbolo `==` y para indicar que son diferentes se usa el símbolo `!=`.

Los comentarios en Python se indican con un # al inicio.

<font size=4 color='rosybrown'>

**Ejemplo**

<font size=4 color='black'>



  A continuación se asigna el valor 13.0 a la etiqueta `float_example`:

In [14]:
float_example = 13.0

# etiqueta = valor

___

<font size=4>

Para imprimir en pantalla el valor de una variable, hay dos formas de hacerlo:

   1. Llamar a la variable con su nombre


   2. Llamarlo con la función  `print( )`.

In [ ]:
# 1. Llamarlo por su nombre:

float_example

13.0

In [18]:
# 2. Llamarlo con la función print()

print(float_example)

# con print podemos imprimir diferentes tipos de objetos, separandolos con coma (,)

print('float_example:', float_example)

13.0
float_example: 13.0

<font size=4>

Para conocer el tipo de objeto, usamos la función `type( )`:

In [ ]:
type(float_example)

float

<font size=4>

La función `type( )` con el argumento `float_example` regresa el tipo *float*, es decir, nos indica que la variable `float_example` es de tipo `float` (real).
    
___

<font size=4 color='skyblue'>

**Ejercicio**

<font color='b'>

  Asigna el valor 13 a la variable `integer_example` y determina el tipo de objeto que es usando la función `type( )`.

In [29]:
# Escribe el codigo aquí

type()

int

<font size=4 color='rosybrown'>

**Observa que en programación 13.0 y 13 son objetos de distinto tipo.**

<font color='black'>
    
13.0 es de tipo `float` (flotante) mientras que 13 es de tipo `int` (entero).

In [3]:
variable_int = 13

variable_float = 13.0

type(variable_int), type(variable_float)

(int, float)

<font size=4>
    
Los valores flotantes incluyen números con punto decimal y números en notación científica como el siguiente ejemplo:

In [1]:
variable_cient = 14e-4
type(variable_cient )

float

<font size=4 color='royalblue'>

# 3. Como usar la función `print()`

<font size=4>

La función `print()` sirve para mostrar al usuario mediante texto que se imprime en pantalla (de ahí su nombre), para mostrar el contenido de una variable se escribe el nombre de la variable dentro de los parentesis sin comillas, por ejemplo si la variable se llama `var_example` y tiene valor `25.0` al escribir `print(var_example)` se mostrará el mensaje en pantalla `25`.

<font size=4>

¿Que pasa si se desea mostrar el valor de más de una variable? Se escriben las variables dentro del parentesis **separadas por comas**, por ejemplo `print(var_1, var_2, var_3)` mostrará el valor de cada una de las variables por separado.

<font size=4 color='rosybrown'>
    
**Ejemplo**

In [4]:
var_1 = 13
var_2 = 'numero'
var_3 = 5.25

print(var_1, var_2, var_3)

13 numero 5.25

___

<font size=4>

Si quiere mostrar el valor de la operación de algunas variables se puede crear una nueva variable con el contenido de la operación, por ejemplo:

```
var_suma = var_1 + var_2
```

<font size=4>

Esta variable guarda el valor de la suma de las variables 1 y 2, pero esto es una operación muy simple entonces se puede mostrar su valor ya sea usando `print(var_suma)` o sin crear una nueva variable escribiendo directamente la suma dentro de los parentesis:

```
print(var_1+var_2)
```

In [ ]:
# Muestra el valor de la suma de dos variables en las dos formas que se mencionó

<font size=4>

También se puede mostrar texto que no está en ninguna variable, para esto se escribe el texto que se desea mostrar dentro de comillas simples o dobles (no se pueden combinar) dentro de los parentesis, por ejemplo:

In [5]:
print('Hola mundo')

Hola mundo

<font size=4>

Mostrará el mensaje `Hola mundo` en pantalla. Además se puede combinar variables y texto dentro de la función unicamente escribiendo el texto entre comillas y después el nombre de la variable separado por una coma y fuera de las comillas, por ejemplo:

In [6]:
var_day = 'lunes'
print('Hoy es', var_day)

Hoy es lunes

<font size=4>

Mostrará en pantalla el mensaje `Hoy es lunes`.

Más adelante se mostrarán más formas de como usar la función `print` y se revisará el concepto de qué es una función.

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Asigna dos variables, una con el nombre de un gato y otra con su edad, después construye una salida donde se obtenga el siguiente mensaje:

  ```
  'El nombre del gato es <var_nombre> y su edad es <var_edad> años'
  ```

  Donde `<var_nombre>` y `<var_edad>` pueden ser los nombres de tus variables o puedes nombrarlas de cualquier otra forma. Repite el ejercicio pero multiplicando la edad del gato por 7 de modo que se tenga el resultado:

  ```
  'El nombre del gato es <var_nombre> y tiene <var_edad multiplicado por 7> años humanos'
  ```

In [ ]:
# Haz tu ejercicio aquí

___

<font size=4 color='royalblue'>

# 4. Operaciones matemáticas, lógicas y relacionales.

<font size=4 color='rosybrown'>

> ## 4.1 Operaciones matemáticas.

<font color='black'>

 En la siguiente tabla se indica el símbolo utilizado para las operaciones matematicas básicas.



| Operacion       | Símbolo | Sintaxis | Descripción |
|:---|:---:|:--:|:-- |
| Suma            | `+`  |`obj1 + obj2`  | Suma de dos números (float o int o ambos) o concanetación |
| Resta           | `-`  |`obj1 - obj2`  | Resta de dos números (float o int o ambos) |
| Multiplicación  | `*`  |`obj1 * obj2`  | Multiplicación de dos números (float o int o ambos) o multiplicación de cadenas |
| División        | `/`  |`dividendo / divisor`  | División de dos números (float o int o ambos) |
| División entera | `//` |`dividendo // divisor` | Regresa la parte entera de una división de dos números (float o int o ambos) |
| Exponenciación  | `**` | `base ** potencia` | Potencia de un número |
| Modulo          | `%`  | `dividendo // divisor` | Regresa el resto de una divisón entera |
    
<font size=4 color='rosybrown'>
    
 **Ejemplo:**

In [16]:
# se definen la variables x y y con los valores de 11 y 2, respectivamente:

x = 11
y = 2

# Se realizan operaciones entre x y y:

suma            = x + y
resta           = x - y
multiplicacion  = x * y
division_real   = x / y
division_entera = x // y
exponente       = x ** y
modulo          = x % y

# Se imprimen los resultados de las operaciones anteriores:

print('\n',
      x, '+', y, '=', suma, '\n',
      x, '-', y, '=', resta, '\n',
      x, '*', y, '=', multiplicacion, '\n',
      x, '/', y, '=', division_real, '\n',
      x, '//', y, '=', division_entera, '\n',
      x, '**', y, '=', exponente, '\n',
      x, '%', y, '=', modulo)

 11 + 2 = 13
 11 - 2 = 9
 11 * 2 = 22
 11 / 2 = 5.5
 11 // 2 = 5
 11 ** 2 = 121
 11 % 2 = 1

<font size=4 color='cornflowerblue'>

**NOTA: El valor de una variable es el último valor asignado.**

Por ejemplo, de la celda anterior se tiene que *suma* tiene asociado el valor de 13:

In [ ]:
suma

13

<font size=4>

Se reasigna su valor:

In [ ]:
suma = 8

<font size=4>
Su valor ahora corresponde al último que se le asignó:

In [77]:
suma = 8
print(suma)

56

In [17]:
# Ahora suma vale su valor anterior por 7
suma = suma*7
print(suma)

91

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Define a las variables `a` y `b` con los valores de -5 y 10, respectivamente.

  Realiza cada una de las operaciones matemáticas descritas anteriormente.

  Muestra los resultados en la pantalla.

In [19]:
# Escribe el codigo aquí
a 
b =
print('La suma de ', a, 'y', b, 'es'             )
print('La resta de ', a, 'con', b, 'es'          )
print('La division de ', a, 'y', b, 'es'         )
print('La division entera de ', a, 'con', b, 'es')
print('El modulo de ', a, 'y', b, 'es'           )
print('La multiplicacion de ', a, 'y', b, 'es'   )
print('El exponente de ', a, 'a la', b, 'es'     )

SyntaxError: invalid syntax (3292739216.py, line 3)

<font size=4 color='rosybrown'>

> ## 4.2 Operaciones de comparación.

<font color='black'>

Las operaciones de comparación se realizan entre números o expresiones cuyo resultado es un número y dan como resultados valores de tipo boolean (`True` o `False`).
    
Si la comparación es verdadera el resultado es `True`, de lo constrario es `False`.

A continuación se muestran los símbolos usados para estas operaciones.



| Nombre | Símbolo | Síntaxis |
|:--- |:---:|:--:|
| Igual que         |`==` | `obj1 == obj2` |
| Distinto que      |`!=` | `obj1 != obj2` |
| Menor que         |`<`  | `obj1 < obj2` |
| Menor o igual que |`<=` | `obj1 <= obj2` |
| Mayor que         |`>`  | `obj1 > obj2` |
| Mayor o igual que |`>=` | `obj1 >= obj2` |
    
<font size=4 color='rosybrown'>

**Ejemplo:**

In [24]:
#se define a las variables v1 y v2:

v1 = 32
v2 = 12

# se realizan operaciones de comparación entre v1 y v2:

igual       = v1 == v2
diferente   = v1 != v2
menor       = v1 < v2
menor_igual = v1 <= v2
mayor       = v1 > v2
mayor_igual = v1 >= v2

# se imprimen los resultados:

print('\n',v1, '==', v2, ':', igual, '\n',
      v1, '!=', v2, ':', diferente, '\n',
      v1, '<', v2, ' :', menor, '\n',
      v1, '<=', v2, ':', menor_igual, '\n',
      v1, '>', v2, ' :', mayor, '\n',
      v1, '>=', v2, ':', mayor_igual, '\n',)

 32 == 12 : False
 32 != 12 : True
 32 < 12  : False
 32 <= 12 : False
 32 > 12  : True
 32 >= 12 : True

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Define a las variables `var1` y `var2` con los valores de -103 y 41, respectivamente.

  Realiza cada una de las operaciones de comparación descritas anteriormente.

  Muestra los resultados en la pantalla.

In [23]:
# Escribe el codigo aquí
var1  
var2 =
print(var1, '==', var2, ':')
print(var1, '!=', var2,':')
print(var1, '<', var2, ':')
print(var1, '<=', var2, ':')
print(var1, '>', var2, ':')
print(var1, '>=', var2, ':')

SyntaxError: invalid syntax (2499318043.py, line 3)

<font size=4>


 <font color='rosybrown'>




> ## 4.3 Operadores Lógicos.

<font color='black'>

Una expresión lógica da como resultado un objeto de tipo `boolean`, es decir, indica si la expresión lógica es verdadera (`True`) o falsa (`False`).

Las operaciones logicas se realizan entre variables de tipo boolena y dan como resultado valores de tipo booleano.


| Operador | Símbolo | Síntaxis |
|:--- |:---:|:--:|
| negación | `not` | `bool1 not bool2` |
| y        | `and` | `bool1 and bool2` |
| o        | `or`  | `bool1 or bool2` |

<font color='black'>

 Para los operadores lógicos se necesita conocer las tablas de verdad de los operadores `and`, `or` y `not`.

<font size=4>

**Tablas de verdad:**

Operador `and`:

| a | b | a and b |
| --- | --- | --- |
| True  | True  | True |
| True  | False | False |
| False | True  | False |
| False | False | False |

Operador `or`:

| a | b | a or b |
| --- | --- | --- |
| True  | True  | True  |
| True  | False | False |
| False | True  | False |
| False | False | False |

Operador `not`:

| a | not a |
| --- | --- |
| True  | False |
| False | True |


<font size=4 color='rosybrown'>
    
**Ejemplo:**

In [26]:
bool1 = True
bool2 = False
bool3 = False

# Se realizan operaciones entre las variables anteriores y se muestra el resultado:

bool1 or (bool3 and bool2)

True

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>
    
Haz la operación `(a or b ) and (b and (not a))` en los siguientes casos:
    
+ `a=True`, `b=True`
+ `a=False`, `b=False`
+ `a=False`, `b=True`
    
Y muestra el resultado, puedes usar más de una celda de código.

In [27]:
# Escribe tu código aquí

<font size=4>

 El orden en que se realizan las operaciones descritas se muestra en la siguiente tabla:

<font size=4 color='rosybrown'>

> ## 4.4 Jerarquía de operaciones.

<font color='black'>

En la siguiente tabla se ordenan las operaciones de mayor a menor precedencia.

| Operacion | Operador |
| :--- | :---: |
| exponenciacion | `**` |
| producto, division, modulo | `*, /, //, %` |
| suma, resta | `+, -` |
| menor o igual que | `<=` |
| relacionales | `==, !=, <, <=, >, >=` |
| logicos | `not, and, or` |

<font color='cornflowerblue'>

**NOTA:**


La precedencia de las operaciones puede verse afectada por los ().

Cualquier operación dentro de paréntesis se realizará primero.

 ___

<font size=4 color='skyblue'>

Ejercicio
    
<font color='black'>
    
Crea una operación con diferentes operadores en una celda de texto y escribe el resultado que crees es el correcto (haciendolo mentalmente), después haz la operación en una celda de código y verifica si el resultado es correcto.

<font size=4 color='royalblue'>

# 5. Entrada y salida de datos.

<font size=4>

En python se cuenta con la función `input()`, que permite ingresar texto escrito desde el teclado. Al llegar a la función, el programa se detiene esperando que se escriba algo y se pulse la tecla Intro.

La función `input()` convierte a string la entrada de datos que recibe.

<font size=4 color='rosybrown'>

**Ejemplo**

In [ ]:
print("¿Cómo se llama?")
nombre = input()
print(f"Me alegro de conocerte, {nombre}")

¿Cómo se llama?
karen
Me alegro de conocerte, karen

<font size=4 >

Observa que al final se usó la función `print()` junto una cadena y se usó el valor de la variale `nombre` que almacena la entrada que se escribió usando el teclado para crear una salida.

___

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

Usa la función `input()` para solicitar al usuario el nombre de un gato.
Después usa nuevamente la función `input()` para solicitar el color del gato.

Cuando obtengas el nombre y color muestra un mensaje que diga `El gato <nombre del gato> es <color del gato>`.

In [ ]:
# Escribe el codigo aquí

<font size=4>
<font color='cornflowerblue'>


**NOTA:** La función `input()` interpreta la información que le damos como string, si quieres especficar numeros podemos hacerlo cambiando el tipo de objeto. (p.e. `int(input())` devolvera un entero)
    
Para convertir un objeto a otro tipo se usan las funciones `int()`, `float()`, `bool()`, `str()` con el objeto que quiere convertir como argumento p.e. `int('5')` convierte la cadena `'5'` al entero `5`.

___

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>
    
Usando la función `input()` solicita un número, recuerda que por defecto `input()` devuelve una cadena, entonces convierte la salida a `float` y multiplica el número por `5`. Muestra la salida como `El número es <numero ingresado> y cinco veces el número es <numero multiplicado por 5>`.

In [ ]:
# Haz tu ejercicio aquí

___

<font size=4 color='royalblue'>

# 6. Secuencias: Listas, tuplas y cadenas.

<font size=4>

Las secuencias son conjuntos de objetos, estos puedes estar ordenados o no, dependiendo del tipo de secuencia.

Hay tres tipos de secuencias en Python: `string`, `list` y `tuple`*.

1. `string` (cadena) es un conjunto de caracteres entre comillas, es decir, son colecciones secuenciales de caracteres (están en un orden particular de izquierda a derecha).

   `string = 'characteres in quotes'`


2. `list` (lista) es una colección secuencial de objetos, donde cada valor se identifica mediante un índice. Los valores que forman a la lista se denominan elementos. Los elementos pueden ser de diferentes tipos como cadenas, enteros, flotantes o incluso otras listas, etc.

   `list = [comma separated elements]`


3. `tuple` (tupla) es una secuencia de elementos de cualquier tipo. La tupla es inmutable (su contenido no se puede cambiar después de crear la tupla).

    `tuple = (comma separated elements)`



**Para conocer el número de elementos en una secuencia se usa la función `len( )`.**

*En realidad hay una más: set, pero no lo revisaremos en este curso.

<font color='rosybrown' size =4>

> ## 5.1 String.


<font color='b' size=4>

 Para definir a una cadena, los caracteres a formarla se deben escribir entre comillas.

  Las comillas pueden ser simples o dobles:

In [ ]:
cadena = 'hombros de gigantes'

s = "'no se puede ser feliz por siempre', exclamó"

# Las comillas dobles permiten que la cadena contenga en sí misma comillas, aunque al revés también es valido :)

s1 = '"no se puede ser feliz por siempre", exclamó'


<font color='b' size=4>

Veámos el tipo de objeto que es la variable *cadena*:

In [ ]:
type(cadena)

str


<font color='b' size=4>

Mostramos en pantalla a la variable *s*:

In [ ]:
s

"'no se puede ser feliz por siempre', exclamó"


<font color='b' size=4>

 Para definir a una cadena que se pueda escribir en multiples líneas se usan comillas triples:

In [28]:
print('''Esta cadena
es multilinea
como puedes ver''')

Esta cadena
es multilinea
como puedes ver

<font size=4>

La función `print( )` puede imprimirse con un formato específico:

In [ ]:
print('{:^8} {:^8} {:^8}'.format('manzanas', 'peras', 'ciruelas' ))

# 8 indica los espacios a usar para imprimir
# ^ se usa para centrar

manzanas  peras   ciruelas

In [ ]:
print('{:^8} {:^8} {:^8}'.format('manzanas', 'peras', 'ciruelas'))
print('-'*27)

print('{:^8.2f} {:^8.2f} {:^8.2f}'.format(2.4, 3.7, 3.1))

#.2f indica que se usarán dos lugares para la parte decimal.

manzanas  peras   ciruelas
---------------------------
  2.40     3.70     3.10

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Define a las variables `str_example` como 'Hola mundo!'.

  Imprime el valor de la variable que acabas de definir.

In [ ]:
# Escribe el codigo aquí

<font size=4 color='rosybrown'>

> ### Indexación

<font size=4>

Las secuencias son conjuntos de elementos ordenados. Para identificar el orden, cada elemento se indexa, es decir, se le asocia un índice.

Lo elementos de una secuencia se indexan de izquierda a derecha comenzando en cero.

También se pueden indexar de derecha a izquierda comenzando en -1.

 En la siguiente tabla se muestran las dos formas en que se puede indexar una secuencia (en este caso se muestra para un *string*).


| h | o | m | b | r | o | s |   | d | e |   | g | i | g | a | n | t | e | s |
| --- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |--- |
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 |
| -19 |-18 | -17 | -16 | -15 | -14 | -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1 |

En las secuencias, se tiene el operador de índice, que sirve para seleccionar un solo elemento o un conjunto de elementos específicos de una secuencia.

Para indicar el elemento al cual se quiere seleccionar se usa la siguiente sintaxis:

 **`secuencia[index]`**

 en donde *index* corresponde al numero de índice del elemento a seleccionar.

<font color='cornflowerblue' size=4>

 **NOTA:**

 En python se inicia indexando en cero. ¡No lo olvides!

<font size=4>

 Por ejemplo, para seleccionar la primera *e* del string *cadena*  se usa:

In [ ]:
# recuerda que cadena = 'hombros de gigantes'

cadena[9]

#usando la indexación de derecha a izquierda se usa:
#cadena[-10]

'e'

<font size=4>

Para seleccionar un conjunto de elementos de una secuencia se usa la siguiente sintaxis:

**`secuencia[n:m]`**

  en donde n es el índice inicial desde el cual se va a seleccionar al conjunto de elementos (correspondiente al elemento n) y m es el índice final correspondiente al elemento m-1.


 Por ejemplo, a continuación se seleccionan del elemento 2 al elemento 4 del string *cadena*:

In [ ]:
# al indice derecho siempre se le resta 1

cadena[2:5]

'mbr'

<font size=4>

**`secuencia[:m]`**

 Selecciona desde el primer elemento hasta el elemento indexado con m-1.

 En el siguiente ejemplo se selecciona desde el primer elemento hasta el elemento 6:

In [ ]:
cadena[:7]

'hombros'

<font size=4>

**`secuencia[n:]`**

 Selecciona desde el elemento indexado con n hasta el último elemento.

 En el ejemplo, se selecciona desde el elemento 7 hasta el final:

In [ ]:
cadena[7:]

' de gigantes'

<font size=4>

**`secuencia[:]`**

 Selecciona a todos los elementos de la secuencia.

In [ ]:
cadena[:]

# es lo mismo que solo llamar a la variable cadena

'hombros de gigantes'

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  De la variable `str_example` que definiste en el ejercicio anterior, imprime la palabra *mundo*.

In [ ]:
# Escribe el codigo aquí

<font size=4 color='rosybrown'>

> ### Concatenación

<font size=4>

El operador `+` aplicado a secuencias se usa para concatenar, es decir, para unir a las secuencias.

**Ejemplo:**

In [ ]:
# se definen dos variables de tipo string:

str1 = 'Hola'
str2 = ' mundo '

# se concatenan los string str1 y str2:

conc = str1 + str2

# Las secuencias se unen respetando el orden en que se concatenaron:

conc

'Hola mundo '

<font size=4>

Python no puede concatenar diferentes tipos de objetos, es decir, las listas se concatenan con listas, las cadenas se concatenan con cadenas, etc.

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Define un string como 'soy Karen' y concatenalo con la variable `str_example`. Cambia la cadena Karen por tu nombre.

In [ ]:
# Escribe el codigo aquí

<font size=4 color='rosybrown'>

> ### Repetición

<font size=4>

El operador `*` aplicado a secuencias se usa para repetir un elemento o un conjunto de elementos de la secuencia.

 **Ejemplo:**

In [ ]:
# El string conc se repite 3 veces:

conc*3

'Hola mundo Hola mundo Hola mundo '

<font size=4 color='rosybrown'>

> ### Funciones de conversión de tipo.

<font size=4>

Python tiene tres funciones de conversión de tipo:

  `int(x)`:x puede ser un numero de coma flotante

  `float(x)`: x puede ser entero, flotante o cadena numérica

  `str(x)`: x puede ser de cualquier tipo


 **Ejemplo:**

 A continuación se convierte el objeto de tipo int a un objeto de tipo float:

In [ ]:
#13.0 es de tipo float, con int() se cambia a tipo entero

int(13.0)

13

In [ ]:
x = 13
print(type(x))

x = float(x)
print(type(x))

<class 'int'>
<class 'float'>

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Define a una variable de tipo integer y conviertela en tipo float.

  Define a una variable de tipo integer y conviertela en tipo string.

In [ ]:
# Escribe el codigo aquí

<font color='rosybrown' size =4>

> ## 5.2 List.

<font size=4>

Las listas se definen entre corchetes:

**Ejemplo:**

In [ ]:
lista = [1, 5, 7, 3, 5, 0]

# Los elementos de la lista son: 1, 5, 7, 3, 5 y 0

Cada elemento de la lista tiene un ídice: comenzando en cero si se indexa de izquiera a derecha. (se indexa de la misma manera que las cadenas).

In [ ]:
lista[-1]

0

<font size=4 color='rosybrown'>

> ### Indexación de listas:

<font size=4>

  Se sigue la misma estructura que la descrita para string.

  **Ejemplo**

In [ ]:
print('El elemento indexado con 4 de la lista es:', lista[4])
print('Los elementos indexados de 1 a 4 son:', lista[1:5])
print('Los primeros tres elementos son:', lista[:3])
print('Los últimos dos elementos son:', lista[4:])

El elemento indexado con 4 de la lista es: 5
Los elementos indexados de 1 a 4 son: [5, 7, 3, 5]
Los primeros tres elementos son: [1, 5, 7]
Los últimos dos elementos son: [5, 0]

<font size=4 color='rosybrown'>

> ### Concatenación de listas:

In [ ]:
# lista = [1, 5, 7, 3, 5, 0]

lista2 = [12, 34, 56]

conc_listas = lista + lista2
conc_listas2 = lista2 + lista

# se respeta el orden en que se concatenan las listas:

conc_listas

[1, 5, 7, 3, 5, 0, 12, 34, 56]

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Define a las listas `a = [23, 67.89, 0.3]` y `b = ['ñ', 'j', 'str0']` y concatenalas.

In [ ]:
# Escribe el codigo aquí

<font size=4 color='rosybrown'>

> ### Repetición de listas:

<font size=4>


  Cada elemento de la lista se repite el número de veces indicado.

In [ ]:
lista*2

[1, 5, 7, 3, 5, 0, 1, 5, 7, 3, 5, 0]

<font size=4>


No se altera a la variable inicial:

In [ ]:
lista

[1, 5, 7, 3, 5, 0]

<font size=4 color='rosybrown'>

> ### In- Buitl Functions.

<font size=4>

 Estas son las funciones que Python nos proporciona, para usarlas solo hay que mandar a llamarlas.

 Las siguientes funciones se puede aplicar a las listas:

 `sum()`:  suma cada uno de los elementos de la lista.

 `max()`: obtiene el máximo de la lista.

  `min()`: obtiene el mínimo de la lista.

  `sorted()`: Ordena a los elementos de una lista. Si los elementos de una lista son números los ordena de menor a mayor, si son cadenas las ordena alfabéticamente.

   Las funciones no alteran a la lista, solo generan un nuevo resultado.


  A continuación se ven ejemplos de cada una de las funciones citadas anteriormente.

In [ ]:
# Recordemos que definimos a lista=[1, 5, 7, 3, 5, 0]

sum(lista)

# nos regresa la suma de los elementos: 1+5+7+3+5+0

21

In [ ]:
min(lista)

# En el caso de que los elementos de una lista sean numeros entonces nos regresara el menor de ellos:

0

In [ ]:
max(lista)

# En el caso de que los elementos de una lista sean numeros entonces nos regresara el mayor de ellos:

7

In [ ]:
sorted(lista)

# ordena a los elementos de una lista

[0, 1, 3, 5, 5, 7]

<font size=4>

Ninguna de las funciones anteriores altera a la variable *lista*:

In [ ]:
lista

[1, 5, 7, 3, 5, 0]

<font size=4 color='rosybrown'>

> ### Atributos y Métodos.

Los atributos definen el estado del objeto mientras que los métodos definen su comportamiento.

<font size=4>

Las listas tienen los siguientes métodos:

   `.sort()`: Ordena a los elementos de la lista de menor a mayor en caso de ser números y alfabéticamente en caso de ser cadenas.

 `.append(x)`: agrega el elemento x al final de la lista.

  `.extend([x, y])`: agrega mas de un elemento al final de la lista. En este caso agrega a *x* y a *y*.

   `.insert(index, element)`: agrega al elemento *element* en la posición determinada por el ínidice *index*.

   `.reverse()`: Voltea el orden de los elementos de la lista.

   `.pop(index)`: elimina al elemento identificado con el indice *index*.

   `.index(a)`: encuentra el índice del elemento a en la lista.

   `.clear()`: Elimina a todos los elementos de la lista.



 Los métodos cambian al objeto.

 **Ejemplos**

In [ ]:
print('La lista inicial es:', lista)

# ordenamos a los elementos:

lista.sort()

print('La lista final es:', lista)

La lista inicial es: [1, 5, 7, 3, 5, 0]
La lista final es: [0, 1, 3, 5, 5, 7]

In [ ]:
print('La lista inicial es:', lista)

# se agrega el elemento 'Hola' al final de la lista:

lista.append('Hola')

print('La lista final es:', lista)

La lista inicial es: [0, 1, 3, 5, 5, 7]
La lista final es: [0, 1, 3, 5, 5, 7, 'Hola']

In [ ]:
print('La lista inicial es:', lista)

# Se agregan los elementos 'Python' y 3.7 al final de la lista:

lista.extend(['Python', 3.7])

print('La lista final es:', lista)

La lista inicial es: [0, 1, 3, 5, 5, 7, 'Hola']
La lista final es: [0, 1, 3, 5, 5, 7, 'Hola', 'Python', 3.7]

In [ ]:
print('La lista inicial es:', lista)

# Se grega al elemento 'insert' en el índice 1:

lista.insert(1, 'insert')

print('La lista final es:', lista)

La lista inicial es: [0, 1, 3, 5, 5, 7, 'Hola', 'Python', 3.7]
La lista final es: [0, 'insert', 1, 3, 5, 5, 7, 'Hola', 'Python', 3.7]

In [ ]:
print('La lista inicial es:', lista)

# se invierte el orden de los elementos:

lista.reverse()

print('La lista final es:', lista)

La lista inicial es: [0, 'insert', 1, 3, 5, 5, 7, 'Hola', 'Python', 3.7]
La lista final es: [3.7, 'Python', 'Hola', 7, 5, 5, 3, 1, 'insert', 0]

In [ ]:
print('La lista inicial es:', lista)

# se elimina al último elemento de la lista:

lista.pop(-1)

print('La lista final es:', lista)

La lista inicial es: [3.7, 'Python', 'Hola', 7, 5, 5, 3, 1, 'insert', 0]
La lista final es: [3.7, 'Python', 'Hola', 7, 5, 5, 3, 1, 'insert']

In [ ]:
# se obtiene el índice del elemento 'Hola':

lista.index('Hola')

2

In [ ]:
print('La lista inicial es:', lista)

# se eliminan todos los elementos de la lista:

lista.clear()

print('La lista final es:', lista)

La lista inicial es: [3.7, 'Python', 'Hola', 7, 5, 5, 3, 1, 'insert']
La lista final es: []

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  Define a la lista `a = [23, 17, 9, 36]` y obten el promedio de sus elementos.

In [ ]:
# Escribe el codigo aquí

<font color='rosybrown' size =4>

> ## 5.3 Tupla

<font size=4>

 Las tuplas se definene entre paréntesis y son inmutables.

  Las funciones descritas para las listas también se pueden aplicar a las tuplas.

   Las tuplas no tienen métodos, pues son inmutables.

   **Ejemplos**

In [ ]:
# se define a la tupla (1, 4, 2)

tupla=(1, 4, 2)

In [ ]:
# se suman los elementos de la tupla: 1+2+4

sum(tupla)

7

In [ ]:
# En el caso de que los elementos de una lista sean numeros entonces nos regresara el menor de ellos:

min(tupla)

1

In [ ]:
# En el caso de que los elementos de una lista sean numeros entonces nos regresara el mayor de ellos:

max(tupla)

4

In [ ]:
# ordena a los elementos de la tupla y la convierte en lista:

sorted(tupla)

[1, 2, 4]

<font size=4>

 La tupla permanece inalterada:

In [ ]:
tupla

(1, 4, 2)

___

<font size=4 color='royalblue'>

 # 6. Diccionarios.

<font size=4>

 Un diccionario es un objeto de Python que se define como un conjunto de keywords-values.

 Se definen entre llaves.

 `dic = {}`

  Los valores pueden ser de cualquier tipo (int, float, str, boolean, list, etc).

  Los diccionarios no tienen un orden.

In [ ]:
# creando un diccionario vacío:

# manera 1:

dic1 = {}

# manera 2:

dic2 = dict()

<font size=4>

Al crear un diccionario se puede definir directamente las palabras clave y sus respectivos valores:

In [ ]:
dicc = {'a': (1, 2, 4), 'b': 5}

<font size=4>

 El diccionario *dicc* se definió con dos keywords, ambas de tipo string: 'a' y 'b'.

     El valor asignado a 'a' es la tupla (1, 2, 4).

     El valor asignado a 'b' es el entero 5.

 Los diccionarios tienen los atributos

  `.keys()`: indica los keywords del diccionario.

  `.values()`: indica los valores del diccionario.

  `.items()`: indica a los keywords y a los values.

<font size=4>

Las palabras clave del diccionario *dicc* son:

In [ ]:
dicc.keys()

dict_keys(['a', 'b'])

<font size=4>

Los valores del diccionario *dicc* son:

In [ ]:
dicc.values()

dict_values([(1, 2, 4), 5])

<font size=4>

Las palabras clave y sus respectivos valores del diccionario *dicc* son:

In [ ]:
dicc.items()

dict_items([('a', (1, 2, 4)), ('b', 5)])

<font size=4>

Para obtener el valor de un determinado keyword se usa la siguiente sintaxis:

 `name_dict[name_keyword]`

    o

  `name_dict.get(name_keyword)`

 Se obtiene el valor del keyword 'a':

In [ ]:
dicc['a']

(1, 2, 4)

In [ ]:
#se muestra un error porque 5 no es una keyword es un value

dicc[5]

KeyError: 5

<font size=4>

Para agregar keywords a un diccionario se usa la siguiente sintáxis:

 `name_dict[name_keyword] = value`

In [ ]:
dicc['new_keyword'] = 'Hey'

<font size=4>

Veámos:

In [ ]:
dicc

{'a': (1, 2, 4), 'b': 5, 'new_keyword': 'Hey'}

<font size=4>

Para eliminar keywords de un diccionario se usa la siguiente sintáxis:


``del name_dict[name_keyword]``

 y se elimina junto con su respectivo valor.

In [ ]:
del dicc['new_keyword']

<font size=4>

Veámos:

In [ ]:
dicc

{'a': (1, 2, 4), 'b': 5}

<font size=4>

Se puede hacer que un diccionario sea bidireccional, es decir, que cada keyword sea también un value y que cada value sea también un keyword.

In [ ]:
dicc.update( dict((dicc[k], k) for k in dicc))

In [ ]:
dicc[5]

'b'

<font size=4 color='skyblue'>


**Ejercicio**

<font color='b'>

  1. Define el diccionario `dicc_example` con las siguientes caracteristicas:



      palabras clave: 'Christian', 'Iván', 'Daniel', 'Evelyn', 'Oscar', 'José'

      valores correspondientes: 35, 31, 22, 24, 23, 25


  2. Agrega el keyword que corresponda a tu nombre con el valor correspondiente a tu edad.



  3. Muestra el diccionario en pantalla.

In [ ]:
# Escribe el codigo aquí

<font color='cornflowerblue' size=4>


**NOTA:**

Recuerda que solo practicando se aprende, a lo largo del curso ¡pondremos en práctica todo lo aprendido!.

___